# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/


milestones.md

logs.md

# Data
data/

# Models
models/

# Notebooks
.ipynb_checkpoints/

# Doc
docs/


# IDE
.vscode/
.idea/
*.swp
*.swo
